*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    display:grid;
    
    grid-template-areas:
      "header header"
       "main main"
      "footer footer";
    
      grid-template-rows:70px 1fr 20px;
    grid-template-columns: 1fr ;
}

header{
    grid-area: header;
    background-image:linear-gradient(to Bottom ,#b8b8b8,#646464) ;
    text-align: center;
    padding-top:10px;
    height: 60px;
    color: white;
}

header h1{
    font-size:2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);
}

main{
    grid-area: main;
    background-color:#b8b8b86e ;
    height:100%;
    width:80%;
    margin: auto;
    
}

main label{
    display: block;
    padding-top: 15px;
    font-size:1.1em;
    font-weight:500;
}

#principal{
    display: grid;
    place-items: center;
    background-color: #C4C4C4;
    margin:80px auto;
    width: 70%;
}

main #formulario{
   margin:30px 0;
   width: 80%;
   text-align: center;
}

main input{
    height: 20px;
    width:90%;
    text-align: center;
    margin-top:5px;
    border: solid 1px rgba(0, 0, 0, 0.555);
    outline: none;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.253);
}

main button{
    background-image: linear-gradient(to left,#b8b8b8,#929292);
    border: solid 1px rgba(0, 0, 0, 0.404);
    margin: 0 10px 20px 0;
    padding:4px;
    border-radius:3px;

}

main button:hover{
    transition: 0.5s;
    background-image: linear-gradient(to right,#b8b8b8,#929292);
}

section #containerLink{
    background-color:#B8B8B8 ;
    padding:20px;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349);
    border:solid 1px rgba(0, 0, 0, 0.349);
    margin-bottom:20px;
} 

section a{
    color:#303030;  
}

section a:hover{
    transition: 0.5s;
    color: white;
    background-color: #30303086;
    border-radius: 2px;
    padding: 2px;
}

footer{
    grid-area:footer;
    background-image:linear-gradient(to top ,#b8b8b8,#646464) ;
    height:40px;
    text-align: center;
    font-weight:600 ;
}

footer a{
    color:#303030;
    
}

footer a:hover{
    transition: 0.5s;
    color: white;
    background-color: #30303086;
    border-radius: 2px;
    padding: 2px;
}

/*sala video*/

#headerSala{ 
    /*header da sala video8*/
    height:70px;
    padding: 0;
}

.bttnSala{
    /*butao da sala video8*/
    margin-top:20px;
}

iframe{
    width:90%;
    height: 50vh;
    display: block;
    margin:50px auto;   
}

#ajuda{
    margin: auto;
    margin-bottom: 20px;
    width: 85%;
    background-color: rgb(209, 209, 209);
    text-align: center;
    border-radius: 3px;
}

.hide{
    height: 0;
    transition:0.2s;
}

.show{
    transition:0.2s;
    height:40px;
    padding: 3px;
}
